:root {
  font-size: 14px;
  font-family: "Open Sans";
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 610ms;
}

body {
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
}

main {
  padding: 1rem;
  margin-left: 5rem;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 100ms ease;
}

.navbar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  text-decoration: none;
  color: var(--text-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  background-color: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0) opacity(1);
  background-color: var(--bg-secondary);
}

.link-text {
  display: none;
  margin-left: 0.1rem;
}

.nav-link > i {
  min-width: 2rem;
}

i {
  color: var(--text-secondary);
}

.logo {
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--text-secondary);
  background-color: var(--bg-secondary);
  margin-bottom: auto;
  text-align: center;
  font-size: 1.5rem;
}

.logo-text {
  margin-left: 1.2rem;
}

.logo i {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: transform var(--transition-speed);
}

.navbar:hover .logo i {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 4rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 12rem;
  }

  .navbar:hover .nav-link > i {
    margin-left: 1.5rem;
  }

  .navbar:hover .nav-link {
    justify-content: unset;
  }

  .navbar:hover .link-text {
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    height: 4rem;
    width: 100vw;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-iink {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}
